html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
img {
  max-width: 100%;
}
@font-face {
  font-family: 'MuseoSansCyrl100.otf';
  src: url("fonts/MuseoSansCyrl.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl300.otf';
  src: url("fonts/MuseoSansCyrl_0.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl500.otf';
  src: url("fonts/MuseoSansCyrl_1.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl700.otf';
  src: url("fonts/MuseoSansCyrl_2.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'MuseoSansCyrl900.otf';
  src: url("fonts/MuseoSansCyrl_3.otf")format("opentype");
  font-weight: normal;
  font-style: normal;
}
.container {
  max-width: 780px;
  margin: 0 auto;
}
.header {
  max-width: 1024px;
  margin: 0 auto;
}
/* Navigation */
.nav {
  width: 100%;
  background-color: #FFD241;
  position: relative;
}
.nav__burger {
  display: flex;
  justify-content: flex-end;
  padding: 23px;
}

.menuBurger {
  width: 30px;
  height: 22px;
  background-image: url(../img/burger.png);
  z-index: 1;
  cursor: pointer;
}

.menuCross{
  width: 30px;
  height: 22px;
  background: url(../img/crossp.png) center no-repeat;
  z-index: 1;
  cursor: pointer;
}

#menu {
  display: none;
}
.nav__menu {
  width: 51%;
  height: 100vh;
  position: absolute;
  right: 0;
  background-color: #FFD241;
  text-align: center;
  opacity: 0;
  visibility: hidden;
  transition: visibility 0.2s linear, opacity 0.2s linear;

}
#menu:checked + .nav__menu {
  opacity: 1;
  visibility: visible;
}

.nav__menu_item {
  padding-bottom: 15px;
}
.nav__menu_link {
  font-family: 'MuseoSansCyrl900.otf';
  text-decoration: none;
  text-transform: uppercase;
  color: #141414;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.1em;
  padding-bottom: 0;
}
/* Accordion */
.accordion {
  width: 100%;
  max-width: 90px;
  max-height: 540px;
  background-color: #ffffff;
  margin: 0 auto;
  padding: 17px 30px;
  border-radius: 29.5px;
  overflow: scroll;
  overflow-x: hidden;
  text-align: left;
  margin-top: 101px;
}
.accordion__item {
  position: relative;
}
.accordion__title {
  font-family: 'MuseoSansCyrl500.otf';
  font-size: 12px;
  line-height: 14px;
  cursor: pointer;
}
.accordion__subtitle {
  font-family: 'MuseoSansCyrl900.otf';
  font-size: 14px;
  line-height: 17px;
  cursor: pointer;
  margin-top: 24px;
}
.accordion__article {
  font-family: 'MuseoSansCyrl500.otf';
  font-size: 14px;
  line-height: 30px;
  cursor: pointer;
  padding: 0 15px;
  margin-top: 20px;
}
.accordion__link {
  font-family: 'MuseoSansCyrl300.otf';
  font-size: 10;
  line-height: 30px;
  color: #FFD241;
  text-decoration: none;
  text-transform: uppercase;
}
.accordion__article:hover {
  background-color: rgba(196, 196, 196, 0.3);
  border-radius: 15px;
}
.accordion::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}
.accordion::-webkit-scrollbar-thumb {
  width: 2px;
  background-color: #C4C4C4;
  border-radius: 1px;
}
.accordion input[type=checkbox] {
position: absolute;
opacity: 0;
}
.accordion label {
position: relative;
display: block;
}
.accordion ul {
display: none;
}

.accordion input[type=checkbox]:checked + label + ul,
.accordion input[type=checkbox]:checked + label:nth-of-type(n) + ul {
display: block;
}

/* Sectoin */
.section {
  max-width: 1024px;
  margin: 0 auto;
}
.section__title {
  font-family: 'MuseoSansCyrl900.otf';
  font-size: 36px;
  line-height: 43px;
  color: #000000;
  text-align: center;
}
.section__title--upper {
  text-transform: uppercase;
  margin: 46px auto;
}
/* Card */
.card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 auto;
}
.card__item {
  width: 48.7%;
  margin-bottom: 57px;
}
.card__item_img {
  display: flex;
}
.card__item_country {
  font-family: 'MuseoSansCyrl300.otf';
  font-size: 9px;
  line-height: 11px;
  text-transform: uppercase;
  color: #C5B223;
  margin: 10px 0 7px;
}
.card__item_title {
  font-family: 'MuseoSansCyrl500.otf';
  font-size: 18px;
  line-height: 22px;
  color: #000000;
}
.card__item_route {
  font-family: 'MuseoSansCyrl300.otf';
  font-size: 9px;
  line-height: 13px;
  color: #8C8C8C;
  margin: 20px 0 15px;
}
.card__item_date {
  font-family: 'MuseoSansCyrl500.otf';
  font-size: 9px;
  line-height: 11px;
  color: #000000;
  margin-bottom: 12px;
}
.card__item_date--margin {
  margin-top: 20px;
}
.card__item_stock {
  display: inline;
  font-family: 'MuseoSansCyrl100.otf';
  font-size: 9px;
  line-height: 11px;
  color: #ffffff;
  background-color: #CB0037;
  border-radius: 3px;
  padding: 3px 18px;
}
/* Form */
.form {
  margin-top: 70px;
}
.form__communication {
  display: flex;
  justify-content: space-between;
}
.form__title {
  display: inline;
  font-family: 'MuseoSansCyrl700.otf';
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  border-bottom: 2px solid #000000;
  padding-bottom: 2px;
}

.form__item_info, .form__checkboxes{
  display: flex;
  justify-content: space-between;
  margin-bottom: 35px;
  margin-top: 31px;
}
.form__item_text {
  width: 48.7%;
}
.form__subtitle {
  font-family: 'MuseoSansCyrl700.otf';
  font-size: 10px;
  line-height: 12px;
  text-transform: uppercase;
  margin-bottom: 9px;
}
.form__input {
  width: 83%;
  padding: 19px 30px;
}
.form__input::placeholder {
  font-family: 'MuseoSansCyrl300.otf';
  font-size: 10px;
  line-height: 12px;
  color: #8C8C8C;
}
.form__item_link {
  width: 50%;
  display: flex;
  justify-content: space-evenly;
  align-items: flex-end;
}
.form__checkbox {
  text-align: center;
}
.custom__checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom__checkbox+label::before {
  content: '';
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #E7E7E7;
  box-sizing: border-box;
  border-radius: 3px;
  cursor: pointer;
}
.custom__checkbox:checked+label::before {
  background: url(../img/Vector.png) center no-repeat;
}
.custom__checkbox--agreements+label::before {
  width: 15px;
  height: 15px;
  margin-right: 15px;
}
.custom__checkbox--agreements:checked+label::before {
  background-size: 80% ;
}
.form__agreements {
  font-size: 10px;
  line-height: 12px;
}
.offers_personal {
  display: flex;
}
.offers_personal:nth-child(1) {
  margin-bottom: 40px;
}
.offers_personal__title {
  font-family: 'MuseoSansCyrl500.otf';
  color: #000000;
  padding: 5px 0 11px;
}
.offers_personal__subtitle {
  font-family: 'MuseoSansCyrl100.otf';
  color: #C1C1C1;
}

/* Footnote */

.footnote {
  font-family: 'MuseoSansCyrl100.otf';
  color: #C1C1C1;
  margin: 33px 0 40px 30px;
}
.star_footnotes {
  font-family: 'MuseoSansCyrl700.otf';
  font-size: 12px;
  line-height: 12px;
  color: #AE1010;
  margin: 5px;

}
/* Button */

.button {
  width: 100%;
  max-width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'MuseoSansCyrl300.otf';
  font-size: 12px;
  line-height: 14px;
  text-transform: uppercase;
  padding: 17px 30px;
  background: #FFD241;
  border-radius: 29.5px;
  border: none;
  cursor: pointer;
  transition: opacity 0.2s linear;
  margin-bottom: 164px;
}
.button:hover {
  opacity: 0.7;
}
